*{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.product-container{
    width: 70vw;
    margin: auto auto 10vh auto;
    padding: 0px 20px;
    min-height: 90vh;
    border: 1px solid red;
    
}
.product-image{
    width: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-image img{
    width: 100%;
}
h1,p,span,a{
    margin: 10px auto;
}
span{
    color: dodgerblue;
    font-size: 30px;
    font-weight: bold;
    display: block;
}
a{
    padding: 10px 20px;
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background-color: #fff;
    background-color: rgb(5, 98, 190);
}
footer{
    width: 100vw;
    padding: 5px;
    background-color: #dfdfdf;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer > p{
    margin: 0;
}
